.container {
    height: 100vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.panel {
    height: 80vh;
    cursor: pointer;
    width: 20px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    color: white;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.panel.active {
    flex: 4;
}

.panel.active h3 {
    opacity: 1;
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}